In [1]:
import torch
import torch.nn.functional as F
import torch.nn as nn
import numpy as np
import pandas as pd
import time
import random
import datetime
import matplotlib.pyplot as plt
import re
%run functions.ipynb
from unidecode import unidecode
plt.rcParams['figure.figsize'] = [15, 8]
pd.set_option("display.precision", 3)

get_avg(Player,games=26,categories=None)
get_stat(Player,category,stats=pd.DataFrame([])):
get_line(player,pp_stat)
moving_avg(Player,cat,window)
print_prob(player,series,line,cat,games=None,prnt=True)
graph_stat(player,cat,window)
dynamic(guy,cat,window=10)
get_game(player,date)
adjust(player,cat,opp)
best_odds(lines)
check(lines)
get_pos(guy)
season_stats(player)
position_diff(opp,cat)

In [45]:
pd.set_option('display.max_rows', 30)
pd.set_option('display.min_rows', 30)

In [3]:
opp_stats = pd.read_csv('opponent_stats',index_col=0)
schedule = pd.read_csv('schedule',index_col=0)
data = pd.read_csv('data.csv')

lines = pd.read_csv('betting_lines_1',index_col=0)
lines2 =pd.read_csv('betting_lines_2',index_col=0)
lines3 =pd.read_csv('betting_lines_3',index_col=0)
lines4 =pd.read_csv('betting_lines_4',index_col=0)   
lines5 =pd.read_csv('betting_lines_5',index_col=0)

In [26]:
data.head(3)

,Player,G,Date,Age,Tm,H/A,Opp,W/L,GS,MP,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,Pos
0,Jayson Tatum,1,2022-10-18,24-229,BOS,1,PHI,+9,1,38.633,...,12,4,1,1,3,1,35,30.1,10.0,PF
1,Jayson Tatum,2,2022-10-21,24-232,BOS,0,MIA,+7,1,36.783,...,5,4,1,2,2,1,29,22.7,-1.0,PF
2,Jayson Tatum,3,2022-10-22,24-233,BOS,0,ORL,+6,1,37.650,...,8,1,1,2,1,2,40,34.2,6.0,PF

In [28]:
WL = data['W/L'].to_list()
margin = []
for i in range(len(WL)):
    input_string = WL[i]
    output = re.match(r"^[WL]\s*\(([-]?\d+|\+\d+)\)", input_string).group(1)
    margin.append(output)

margin[0:10]

AttributeError: 'NoneType' object has no attribute 'group'

In [39]:
#data['W/L']=margin
POSIT = data['Pos'].to_list()
pos_dict = {'PG':1, 'SG': '2','SF':3,'PF':4,'C':5}
pos_i = []
for i in range(len(POSIT)):
    pos_i.append(pos_dict[POSIT[i]])
    
pos_i[0:10]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [40]:
data['Pos']=pos_i
data

,Player,G,Date,Age,Tm,H/A,Opp,W/L,GS,MP,...,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-,Pos
0,Jayson Tatum,1,2022-10-18,24-229,BOS,1,PHI,+9,1,38.633,...,12,4,1,1,3,1,35,30.1,10.0,4
1,Jayson Tatum,2,2022-10-21,24-232,BOS,0,MIA,+7,1,36.783,...,5,4,1,2,2,1,29,22.7,-1.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18819,Marko Simonovic,3,2023-02-16,23-124,CHI,1,MIL,-12,0,1.800,...,0,0,0,0,0,1,0,-0.4,8.0,5
18820,Alondes Williams,1,2022-12-10,23-174,BRK,0,IND,+3,0,5.267,...,1,0,0,0,2,1,0,-2.1,-5.0,2

In [70]:
acron = data['Opp'].unique()
acron.sort()
acr2i = {a:i for i,a in enumerate(acron)}
acr2i

{'ATL': 0,
 'BOS': 1,
 'BRK': 2,
 'CHI': 3,
 'CHO': 4,
 'CLE': 5,
 'DAL': 6,
 'DEN': 7,
 'DET': 8,
 'GSW': 9,
 'HOU': 10,
 'IND': 11,
 'LAC': 12,
 'LAL': 13,
 'MEM': 14,
 'MIA': 15,
 'MIL': 16,
 'MIN': 17,
 'NOP': 18,
 'NYK': 19,
 'OKC': 20,
 'ORL': 21,
 'PHI': 22,
 'PHO': 23,
 'POR': 24,
 'SAC': 25,
 'SAS': 26,
 'TOR': 27,
 'UTA': 28,
 'WAS': 29}

In [162]:
#Opp = data['Opp'].to_list()
tm = data['Tm'].to_list()
#opp_i = []
tm_i = []
for i in range(len(Opp)):
    #opp_i.append(acr2i[Opp[i]])
    tm_i.append(acr2i[tm[i]])
    
data['Tm'] = tm_i
#data['Opp'] = opp_i

In [163]:
data.head()

,Player,G,Tm,H/A,Opp,W/L,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Pos,Rest
0,Jayson Tatum,1,1,1,22,+9,1,38.633,13,20,...,12,12,4,1,1,3,1,35,4,NaN
1,Jayson Tatum,2,1,0,15,+7,1,36.783,10,22,...,3,5,4,1,2,2,1,29,4,3.0
2,Jayson Tatum,3,1,0,21,+6,1,37.650,14,21,...,8,8,1,1,2,1,2,40,4,1.0
3,Jayson Tatum,4,1,0,3,-18,1,35.433,8,18,...,8,8,5,0,0,1,2,26,4,2.0
4,Jayson Tatum,5,1,1,5,-9,1,42.183,11,19,...,6,7,4,1,1,4,4,32,4,4.0

In [154]:
data = data.drop(columns=['Age','GmSc','+/-'])

In [155]:
data.columns

Index(['Player', 'G', 'Date', 'Tm', 'H/A', 'Opp', 'W/L', 'GS', 'MP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB',
       'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Pos', 'Rest'],
      dtype='object')

In [157]:
data['Date'] = pd.to_datetime(data['Date'], format="%Y-%m-%d")
data['Rest'] = data.groupby('Player')['Date'].diff().dt.days
data.head(3)

,Player,G,Date,Tm,H/A,Opp,W/L,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Pos,Rest
0,Jayson Tatum,1,2022-10-18,BOS,1,22,+9,1,38.633,13,...,12,12,4,1,1,3,1,35,4,NaN
1,Jayson Tatum,2,2022-10-21,BOS,0,15,+7,1,36.783,10,...,3,5,4,1,2,2,1,29,4,3.0
2,Jayson Tatum,3,2022-10-22,BOS,0,21,+6,1,37.650,14,...,8,8,1,1,2,1,2,40,4,1.0

In [164]:
data= data.drop(columns=['Date'])

KeyError: "['Date'] not found in axis"

In [176]:
players = data['Player']
p2i = {p:i for i,p in enumerate(players.unique())}

play_i = []
for i in range(len(players)):
    play_i.append(p2i[players[i]])
data['Player'] = play_i

In [177]:
data

,Player,G,Tm,H/A,Opp,W/L,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Pos,Rest
0,0,1,1,1,22,+9,1,38.633,13,20,...,12,12,4,1,1,3,1,35,4,NaN
1,0,2,1,0,15,+7,1,36.783,10,22,...,3,5,4,1,2,2,1,29,4,3.0
2,0,3,1,0,21,+6,1,37.650,14,21,...,8,8,1,1,2,1,2,40,4,1.0
3,0,4,1,0,3,-18,1,35.433,8,18,...,8,8,5,0,0,1,2,26,4,2.0
4,0,5,1,1,5,-9,1,42.183,11,19,...,6,7,4,1,1,4,4,32,4,4.0
5,0,6,1,1,29,+18,1,27.417,8,15,...,4,4,3,1,0,4,0,23,4,2.0
6,0,7,1,0,5,-1,1,42.867,8,21,...,9,12,6,1,4,6,0,26,4,3.0
7,0,8,1,1,3,+4,1,40.050,8,23,...,10,12,6,1,1,1,4,36,4,2.0
8,0,9,1,0,19,+15,1,36.517,8,17,...,4,4,5,1,2,3,3,26,4,1.0
9,0,10,1,0,14,+3,1,39.583,12,25,...,3,3,2,0,2,2,2,39,4,2.0
10,0,11,1,1,8,+16,1,31.583,10,20,...,1,1,5,1,1,1,4,31,4,2.0
11,0,12,1,1,7,+19,1,37.317,11,21,...,8,8,5,0,0,1,4,34,4,2.0
12,0,13,1,0,8,+9,1,40.983,14,28,...,8,10,3,1,1,3,2,43,4,1.0
13,0,14,1,1,20,+4,1,38.000,9,23,...,9,10,1,3,3,1,2,27,4,2.0
14,0,15,1,0,0,+25,1,32.900,6,19,...,6,7,8,1,1,2,1,19,4,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18806,496,1,25,0,18,-32,0,4.033,0,1,...,0,0,0,0,0,0,0,0,2,NaN
18807,496,2,25,0,10,+20,0,2.450,0,1,...,0,0,0,0,0,0,0,0,2,1.0
18808,497,1,22,1,2,+9,0,1.383,0,1,...,0,0,0,0,0,0,0,0,3,NaN
18809,497,2,22,0,21,+30,0,5.283,0,1,...,0,0,0,1,0,0,0,0,3,5.0
18810,498,1,22,1,2,+9,0,1.033,0,0,...,0,0,0,0,0,0,0,0,4,NaN
18811,499,1,3,1,1,+18,0,0.267,0,0,...,1,1,0,0,0,0,0,0,3,NaN
18812,499,2,3,1,11,+15,0,0.650,0,0,...,0,0,0,0,0,0,0,0,3,2.0
18813,499,3,3,1,27,+14,0,0.217,0,0,...,0,0,0,0,0,0,0,0,3,12.0
18814,499,4,3,0,8,+18,0,1.100,0,0,...,0,0,0,0,0,0,0,0,3,73.0
18815,499,5,3,1,16,-12,0,6.883,2,4,...,2,2,0,0,0,0,1,5,3,28.0
18816,500,1,19,1,8,+24,0,0.950,0,1,...,1,1,0,0,0,0,0,0,2,NaN
18817,501,1,3,1,5,-32,0,1.733,0,1,...,0,0,0,0,0,0,0,0,5,NaN
18818,501,2,3,0,8,+18,0,1.100,0,0,...,0,0,0,0,0,0,0,0,5,89.0
18819,501,3,3,1,16,-12,0,1.800,0,0,...,0,0,0,0,0,0,1,0,5,28.0
18820,502,1,2,0,11,+3,0,5.267,0,0,...,1,1,0,0,0,2,1,0,2,NaN

In [178]:
jay = data.loc[data['Player']==0]

In [185]:
jay = jay.astype('float64')

In [188]:
tens = torch.tensor(jay.values)

In [189]:
tens.shape

torch.Size([56, 28])

In [190]:
tens[0]

tensor([ 0.0000,  1.0000,  1.0000,  1.0000, 22.0000,  9.0000,  1.0000, 38.6333,
        13.0000, 20.0000,  0.6500,  2.0000,  7.0000,  0.2860,  7.0000,  9.0000,
         0.7780,  0.0000, 12.0000, 12.0000,  4.0000,  1.0000,  1.0000,  3.0000,
         1.0000, 35.0000,  4.0000,     nan], dtype=torch.float64)