In [1]:
#imports and scraping raw data from site
#df is the actual betting line
#df2 has other info, mostly using to get player id to name dict

import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

pp_props_url = 'https://api.prizepicks.com/projections?league_id=7&per_page=250&single_stat=true'
headers = {
'Connection': 'keep-alive',
'Accept': 'application/json; charset=UTF-8',
'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36',
'Access-Control-Allow-Credentials': 'true',
'Sec-Fetch-Site': 'same-origin',
'Sec-Fetch-Mode': 'cors',
'Referer': 'https://app.prizepicks.com/',
'Accept-Encoding': 'gzip, deflate, br',
'Accept-Language': 'en-US,en;q=0.9'
}

r = requests.get(pp_props_url, headers=headers)
print(r)
df = pd.json_normalize(r.json()['data'])
df2 = pd.json_normalize(r.json()['included'])
print(df.loc[0])

C:\Users\User\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.14) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

<Response [200]>
type                                                      projection
id                                                           1094346
attributes.board_time                      2023-02-23T22:10:00-05:00
attributes.custom_image                                         None
attributes.description                                           WAS
attributes.end_time                                             None
attributes.flash_sale_line_score                                None
attributes.is_promo                                            False
attributes.line_score                                           14.5
attributes.projection_type                               Single Stat
attributes.rank                                                    1
attributes.refundable                                           True
attributes.start_time                      2023-02-24T19:10:00-05:00
attributes.stat_type                                       Rebs+Asts
attributes.status                                           pre_game
attributes.tv_channel                                           None
attributes.updated_at                      2023-02-23T22:21:59-05:00
relationships.duration.data                                     None
relationships.league.data.type                                league
relationships.league.data.id                                       7
relationships.new_player.data.type                        new_player
relationships.new_player.data.id                               57489
relationships.projection_type.data.type              projection_type
relationships.projection_type.data.id                              2
relationships.stat_type.data.type                          stat_type
relationships.stat_type.data.id                                  245
Name: 0, dtype: object

In [2]:
df2.drop(df2.columns[df2.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [3]:
#getting names dict from df2

display(df2.head())
names = df2[['type','id', 'attributes.name']]
names = names.loc[names['type']=='new_player']
names = names[['id','attributes.name']]

name = names['attributes.name'].tolist()
id = names['id'].tolist()

names_dict = {id[i]: name[i] for i in range(len(name))}

#names_dict

,type,id,attributes.lfg_ignored_leagues,attributes.name,attributes.image_url,attributes.league,attributes.league_id,attributes.market,attributes.position,attributes.team,attributes.team_name,relationships.league.data.type,relationships.league.data.id,attributes.active,attributes.icon,attributes.last_five_games_enabled,attributes.projections_count,attributes.rank,relationships.projection_filters.data
0,stat_type,244,[7],Pts+Asts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,new_player,85745,NaN,Jalen Brunson,https://static.prizepicks.com/images/players/n...,NBA,7.0,New York,G,NYK,Knicks,league,7,NaN,NaN,NaN,NaN,NaN,NaN
2,new_player,123595,NaN,Josh Hart,https://static.prizepicks.com/images/players/n...,NBA,7.0,New York,G,NYK,Knicks,league,7,NaN,NaN,NaN,NaN,NaN,NaN
3,new_player,10776,NaN,Tyler Herro,https://static.prizepicks.com/images/players/n...,NBA,7.0,Miami,G,MIA,Heat,league,7,NaN,NaN,NaN,NaN,NaN,NaN
4,new_player,96514,NaN,Cameron Johnson,https://static.prizepicks.com/images/players/n...,NBA,7.0,Brooklyn,F,BKN,Nets,league,7,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head()

,type,id,attributes.board_time,attributes.custom_image,attributes.description,attributes.end_time,attributes.flash_sale_line_score,attributes.is_promo,attributes.line_score,attributes.projection_type,...,attributes.updated_at,relationships.duration.data,relationships.league.data.type,relationships.league.data.id,relationships.new_player.data.type,relationships.new_player.data.id,relationships.projection_type.data.type,relationships.projection_type.data.id,relationships.stat_type.data.type,relationships.stat_type.data.id
0,projection,1094346,2023-02-23T22:10:00-05:00,None,WAS,None,None,False,14.5,Single Stat,...,2023-02-23T22:21:59-05:00,None,league,7,new_player,57489,projection_type,2,stat_type,245
1,projection,1094340,2023-02-23T22:10:00-05:00,None,WAS,None,None,False,30.5,Single Stat,...,2023-02-23T23:15:06-05:00,None,league,7,new_player,57489,projection_type,2,stat_type,244
2,projection,1094318,2023-02-23T22:10:00-05:00,None,WAS,None,None,False,2.5,Single Stat,...,2023-02-23T22:13:32-05:00,None,league,7,new_player,57489,projection_type,2,stat_type,24
3,projection,1094334,2023-02-23T22:10:00-05:00,None,WAS,None,None,False,36.5,Single Stat,...,2023-02-23T22:29:33-05:00,None,league,7,new_player,57489,projection_type,2,stat_type,243
4,projection,1094319,2023-02-23T22:10:00-05:00,None,WAS,None,None,False,40.5,Single Stat,...,2023-02-23T22:10:57-05:00,None,league,7,new_player,57489,projection_type,2,stat_type,106

In [5]:
#viewing all the columns to see what i need

base = df[:-1]
base.loc[63]

type                                                      projection
id                                                           1094843
attributes.board_time                      2023-02-23T22:44:00-05:00
attributes.custom_image                                         None
attributes.description                                           MIL
attributes.end_time                                             None
attributes.flash_sale_line_score                                None
attributes.is_promo                                            False
attributes.line_score                                           10.5
attributes.projection_type                               Single Stat
attributes.rank                                                   52
attributes.refundable                                           True
attributes.start_time                      2023-02-24T19:40:00-05:00
attributes.stat_type                                        Rebounds
attributes.status                                           pre_game
attributes.tv_channel                                           None
attributes.updated_at                      2023-02-23T22:48:12-05:00
relationships.duration.data                                     None
relationships.league.data.type                                league
relationships.league.data.id                                       7
relationships.new_player.data.type                        new_player
relationships.new_player.data.id                                1646
relationships.projection_type.data.type              projection_type
relationships.projection_type.data.id                              2
relationships.stat_type.data.type                          stat_type
relationships.stat_type.data.id                                   22
Name: 63, dtype: object

In [7]:
id

['85745',
 '123595',
 '10776',
 '96514',
 '58496',
 '1654',
 '1521',
 '25445',
 '96481',
 '53837',
 '58812',
 '87351',
 '1544',
 '54126',
 '96321',
 '87384',
 '55716',
 '54140',
 '54080',
 '54957',
 '37560',
 '25422',
 '54081',
 '59376',
 '1646',
 '37687',
 '25107',
 '87590',
 '96508',
 '60558',
 '54768',
 '54082',
 '1957',
 '57489',
 '79867',
 '1724',
 '10726',
 '56699',
 '25419',
 '1955',
 '56700']

In [8]:
ids = df['relationships.new_player.data.id'].unique()
print(len(ids))
for i in ids[:-1]:
    print(names_dict[i],i)

41
Julius Randle 57489
Kyle Kuzma 58812
Kristaps Porzingis 60558
Jalen Brunson 85745
Daniel Gafford 37687
RJ Barrett 54126
Quentin Grimes 59376
Josh Hart 123595
Monte Morris 87351
Jimmy Butler 1654
Jrue Holiday 25107
Bam Adebayo 1646
Tyler Herro 10776
Gabe Vincent 54768
Caleb Martin 54080
Max Strus 54082
Trae Young 1521
Zach LaVine 1544
Spencer Dinwiddie 1957
Mikal Bridges 96508
DeMar DeRozan 54957
Nikola Vucevic 37560
Cameron Johnson 96514
Patrick Williams 25422
Dorian Finney-Smith 96321
Nicolas Claxton 10726
Anthony Edwards 25419
LaMelo Ball 56699
Jaden McDaniels 25445
Rudy Gobert 87384
Terry Rozier 1955
Kyle Anderson 87590
Mike Conley 96481
Alperen Sengun 55716
KJ Martin Jr. 54081
Jabari Smith Jr. 79867
Devin Booker 58496
Chris Paul 54140
Deandre Ayton 53837
Kawhi Leonard 1724

In [9]:
#trimming excess columns and adding actual player names

df = base[['attributes.description','attributes.line_score',
        'attributes.stat_type','relationships.new_player.data.id']]

df['player_name'] = df['relationships.new_player.data.id'].map(names_dict)
df = df[['player_name','attributes.description', 'attributes.line_score', 'attributes.stat_type',
       'relationships.new_player.data.id']]

df = df.rename(columns={"attributes.description": "team", "attributes.line_score": "line", 
                        'attributes.stat_type':'stat','relationships.new_player.data.id':'id'})

C:\Users\User\AppData\Local\Temp\ipykernel_10868\1881028164.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_name'] = df['relationships.new_player.data.id'].map(names_dict)

In [10]:
df['player_name'].unique()

array(['Julius Randle', 'Kyle Kuzma', 'Kristaps Porzingis',
       'Jalen Brunson', 'Daniel Gafford', 'RJ Barrett', 'Quentin Grimes',
       'Josh Hart', 'Monte Morris', 'Jimmy Butler', 'Jrue Holiday',
       'Bam Adebayo', 'Tyler Herro', 'Gabe Vincent', 'Caleb Martin',
       'Max Strus', 'Trae Young', 'Zach LaVine', 'Spencer Dinwiddie',
       'Mikal Bridges', 'DeMar DeRozan', 'Nikola Vucevic',
       'Cameron Johnson', 'Patrick Williams', 'Dorian Finney-Smith',
       'Nicolas Claxton', 'Anthony Edwards', 'LaMelo Ball',
       'Jaden McDaniels', 'Rudy Gobert', 'Terry Rozier', 'Kyle Anderson',
       'Mike Conley', 'Alperen Sengun', 'KJ Martin Jr.',
       'Jabari Smith Jr.', 'Devin Booker', 'Chris Paul', 'Deandre Ayton',
       'Kawhi Leonard', 'Paul George'], dtype=object)

In [11]:
df

       player_name team  line           stat     id
0    Julius Randle  WAS  14.5      Rebs+Asts  57489
1    Julius Randle  WAS  30.5       Pts+Asts  57489
2    Julius Randle  WAS   2.5      Turnovers  57489
3    Julius Randle  WAS  36.5       Pts+Rebs  57489
4    Julius Randle  WAS  40.5  Pts+Rebs+Asts  57489
..             ...  ...   ...            ...    ...
253    Paul George  SAC  22.5         Points  56700
254    Paul George  SAC  29.5       Pts+Rebs  56700
255    Paul George  SAC   4.5        Assists  56700
256    Paul George  SAC   6.5       Rebounds  56700
257    Paul George  SAC  27.5       Pts+Asts  56700

[258 rows x 5 columns]

In [12]:
test = df
for i in range(len(test)):
    test.iloc[i,3] = test.iloc[i,3].replace('Points','PTS')
    test.iloc[i,3] = test.iloc[i,3].replace('Rebs','TRB')
    test.iloc[i,3] = test.iloc[i,3].replace('Asts','AST')
    test.iloc[i,3] = test.iloc[i,3].replace('Rebounds','TRB')
    test.iloc[i,3] = test.iloc[i,3].replace('3-PT Made','3P')
    test.iloc[i,3] = test.iloc[i,3].replace('Assists','AST')
    test.iloc[i,3] = test.iloc[i,3].replace('Turnovers','TOV')
    test.iloc[i,3] = test.iloc[i,3].replace('Blks','BLK')
    test.iloc[i,3] = test.iloc[i,3].replace('Pts','PTS')
    test.iloc[i,3] = test.iloc[i,3].replace('Stls','STL')
    test.iloc[i,3] = test.iloc[i,3].replace('Free Throws Made','FT')
    test.iloc[i,3] = test.iloc[i,3].replace('Blocked Shots','BLK')
    test.iloc[i,3] = test.iloc[i,3].replace('Steals','STL')
df = test

In [13]:
df

       player_name team  line         stat     id
0    Julius Randle  WAS  14.5      TRB+AST  57489
1    Julius Randle  WAS  30.5      PTS+AST  57489
2    Julius Randle  WAS   2.5          TOV  57489
3    Julius Randle  WAS  36.5      PTS+TRB  57489
4    Julius Randle  WAS  40.5  PTS+TRB+AST  57489
..             ...  ...   ...          ...    ...
253    Paul George  SAC  22.5          PTS  56700
254    Paul George  SAC  29.5      PTS+TRB  56700
255    Paul George  SAC   4.5          AST  56700
256    Paul George  SAC   6.5          TRB  56700
257    Paul George  SAC  27.5      PTS+AST  56700

[258 rows x 5 columns]

In [14]:
df.to_csv('betting_lines_4')

In [63]:
pd.option_context('display.max_columns', 50)
df

       player_name team  line           stat     id
0     Jayson Tatum  IND  33.5        PTS+AST   1266
1     Jayson Tatum  IND  37.5        PTS+TRB   1266
2     Jayson Tatum  IND  48.5  Fantasy Score   1266
3     Jayson Tatum  IND  12.5        TRB+AST   1266
4     Jayson Tatum  IND   0.5            BLK   1266
..             ...  ...   ...            ...    ...
278  Keegan Murray  POR  11.5            PTS  79897
279  Kevin Huerter  POR  21.5    PTS+TRB+AST  87615
280  Kevin Huerter  POR  17.5        PTS+AST  87615
281  Kevin Huerter  POR  18.5        PTS+TRB  87615
282  Kevin Huerter  POR  14.5            PTS  87615

[283 rows x 5 columns]

In [ ]:
df